@charset "UTF-8";

body {
    background-color: rgb(231, 148, 38);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rosybrown;
    background-color: aqua;
}
h2 {
    color: blueviolet;
}
p {
    text-align: justify;
}
